@model EccormerceSqlDb.Controllers.HomeController.productDetails
@{
    ViewBag.Title = "DetailsOfProducts";
}

<h2>DetailsOfProducts</h2>
<br />
Name:@Model.ProductName<br />
Price:@Model.Price<br />
Stock:@Model.Stock<br />
CategoryName:@Model.CategoryName<br />


