@model EccormerceSqlDb.Controllers.HomeController.UserInfo
@{
    ViewBag.Title = "GetUserInfo";
}

<h2>GetUserInfo</h2>
Name:@Model.CustomerName<br />
City:@Model.City<br />
BirthDate:@Model.BirthDate<br />

